.redact_pencil {
    cursor: pointer;
    height: 30px;
    width: 25px;
}

.profile_page {
    display: flex;
    margin: auto;
    justify-content: flex-end;
}

.user_picture {
    width: 200px;
    height: 250px;
    border-radius: 50%;
}

.profile_navigation_section {
    position: fixed;
    z-index: 777;
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 1rem;
    /* height: 85.45vh; */
    height: 100vh;
    left: 0;
}

.profile_navigation {
    display: flex;
    flex-direction: column;
    background-color: gray;
    gap: .5rem;
    padding: 0;
    width: 15%;
}

.nav_img {
    width: 50px;
    height: 50px;
}

.nav_list_item:hover {
    box-sizing: border-box;
    border: 1px solid black;
}

.nav_list_item>a {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 5px;
}


.profile_content {
    position: inherit;
    width: 88.5%;
}

.profile_content>section {
    position: relative;
    right: 0;
    margin: auto;
}

.username {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.basic_info {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: .5rem;
}

.basic_info p {
    margin: 0;
}

.visited_history {
    width: 80%;
    margin: auto;
}

.visited_history>ol {
    list-style: decimal-leading-zero;
    width: fit-content;
    margin: auto;
}

.visited_history>ol>li {
    width: fit-content;
}

@media only screen and (min-width: 900px) {
    .profile_page {
        width: 99vw;
    }

    .profile_top_section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}